[Unit]
Description=Node.js Hello Moto Http Server
[Service]
PIDFile=/tmp/hello_moto-99.pid
User=yoda
Group=yoda
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/app/service/hello_world/
ExecStart=/app/service/hello_world/server.js
[Install]
WantedBy=multi-user.target
