[Unit]
Description=Node.js Hello Moto Http Server
[Service]
PIDFile=/tmp/hello_moto-99.pid
User=yoda
Group=yoda
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/app/services/hello_moto/
ExecStart=/app/services/hello_moto/server.js
[Install]
WantedBy=multi-user.target
